---
const {name="<Eduardo Ramos />"} = Astro.props;
---
<div>
    <div class="flex justify-center ">
<<<<<<< HEAD
        <img class="h-40 w-40 object-cover rounded-full" src="/perfil.png" alt="perfil">
=======
        <img class="h-40 w-40 object-cover rounded-full" src="/perfil.jpg" alt="perfil">
>>>>>>> 5f154f0c0edb380bcec1d6a3cbf1e9fede00db2b
    </div>
    <div class="py-8 text-center text-6xl font-extrabold">
        <a href="/index" class="py-8 font-sans bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% bg-clip-text text-transparent">
            {name}
        </a>
    </div>
</div>
