<a
  class="rounded-full border ps-4 pe-4 py-2 transition delay-150 duration-300 ease-in-out  hover:bg-gray-900 hover:scale-105 border-white/10 flex justify-center items-center bg-zinc-800"
  href={Astro.props.href}
  target="_blank"
>
<slot/>
  
</a>
